# large files (>150MB)
InferSent/crawl-300d-2M.vec
InferSent/infersent1.pkl
InferSent/infersent2.pkl
InferSent/glove.840B.300d.txt
InferSent/__pycache__
crawl-300d-2M.vec.zip
glove.840B.300d.zip
.vscode
venv
__pycache__/
model/__pycache__/
util/__pycache__/